<template>
  <div class="wrap">
    <table class="main-table">
      <thead>
        <th>#</th>
        <th>Название</th>
        <th>Код МС</th>
        <th>Артикул ВБ</th>
      </thead>
      <tbody v-for="(item, index) in data" v-bind:key="index">
        <tr>
          <td>{{item.id}}</td>
          <td>
            <router-link :to="'/product/' + item.id">{{item.title}}</router-link>
          </td>
          <td>{{item.mscode}}</td>
          <td>{{item.wbId}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'

let environment = process.env.NODE_ENV || 'development'
import config from './/../config'
let { root } = config[environment]

export default {
  name: 'HomeView',
  components: {},
  data() {
    return {
      data: [],
    }
  },
  created() {
    console.log('created');
    axios.get(root + `api/products`)
      .then(response => {
        console.log(response.data);
        this.data = response.data;
        console.log(response.data);
      })
      .catch(error => {
        console.error(error);
      })
  }
}
</script>

<style lang="scss">
.wrap {
  width: 80%;
  margin: 0 auto;
}

.main-table {
  width: 100%;
  text-align: left;

  tr td, th {
    padding: 20px 5px;
    border-bottom: #eee solid 1px;
  }
}
</style>