<template>
  <div class="wrap product">
    <h1>
      {{ item.title }}
    </h1>
    <table class="main-table">
      <thead>
        <th>#</th>
        <th>Табличный ID</th>
        <th>Код МС</th>
        <th>Артикул WB</th>
        <th>Ozon ID</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.sheetId }}</td>
          <td>{{ item.mscode }}</td>
          <td>{{ item.wbId }}</td>
          <td>{{ item.ozonId }}</td>
        </tr>
      </tbody>
    </table>

    <div>
      <Line :chart-options="chartOptions" :chart-data="chartData" :chart-id="chartId"
        :dataset-id-key="datasetIdKey" :css-classes="cssClasses" :styles="styles" 
        :height="height" />
    </div>
  </div>
</template>

<script>
/* eslint-disable */

let environment = process.env.NODE_ENV || 'development'
import config from './/../config'
let { root } = config[environment]

import axios from 'axios'
import { Line, mixins } from 'vue-chartjs'
import 'chartjs-adapter-moment'

import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, PointElement, LineElement, CategoryScale, TimeScale, LinearScale } from 'chart.js'
ChartJS.register(Title, Tooltip, Legend, BarElement, PointElement, LineElement, CategoryScale, LinearScale, TimeScale)

var jsonify = res => res.json();

export default {
  name: 'ProductView',
  components: { Line },
  props: {
    chartId: {
      type: String,
      default: 'line-chart'
    },
    datasetIdKey: {
      type: String,
      default: 'label'
    },
    width: {
      type: Number,
      default: 400
    },
    height: {
      type: Number,
      default: 150
    },
    cssClasses: {
      default: '',
      type: String
    },
    styles: {
      type: Object,
      default: () => { }
    },
    plugins: {
      type: Object,
      default: () => { }
    },
    
  },
  data() {
    return {
      loading: true,
      item: {
        id: 1,
        title: 'test',
        sheetId: 2,
        wbId: 1,
        mscode: 'test',
        ozonId: 1,
      },
      
      chartData: {
        labels: [],
        datasets: [{ data: [] }]
      },
      chartOptions: {
        responsive: true,
        // maintainAspectRatio: true, 
        stacked: false,
        spanGaps: true,
        scales: {
          y: {
            type: 'linear',
            display: false,
            position: 'left',
          },
          y1: {
            type: 'linear',
            display: false,
            position: 'left',
            // grid line settings
            grid: {
              drawOnChartArea: false, // only want the grid lines for one axis to show up
            },
          },
          y2: {
            type: 'linear',
            display: false,
          },
          x: {
            type: 'time',
            time: {
              unit: 'day',
              displayFormats: {
                tooltipFormat: 'MM-DD'
              }
            }
          },
        }
      }
    }

  },
  methods: {
  },
  async created() {
    console.log('created');
    let product = await axios.get(root + `api/products/` + this.$route.params.id);
    if (product.data) {
      this.item = product.data
      console.log(product.data)
      let prices = product.data.prices.map(item => { 
          return {
            x: item.created_at, 
            y: item.price 
          };
        });

      let ratingsOzon = product.data.ratings
        .filter(item => item.platform_id == 2)
        .map(item => { 
            return {
              x: item.created_at, 
              y: item.rating
            };
        });
      let ratingsWb = product.data.ratings
        .filter(item => item.platform_id == 1)
        .map(item => { 
            return {
              x: item.created_at, 
              y: item.rating
            };
        });
      console.log(ratingsWb);
      console.log(ratingsOzon);

      this.chartData.datasets = [
        { 
          label: 'Цена', 
          borderColor: '#42f5aa', 
          data: prices,
          yAxisID: 'y',
        },
        {
          label: 'Рейтинг WB',
          borderColor: '#be1616',
          data: ratingsWb,
          yAxisID: 'y1',
        },
        {
          label: 'Рейтинг OZON',
          borderColor: '#be1616',
          data: ratingsOzon,
          yAxisID: 'y2',
        },
      
      ]
      // this.chartData.labels = labels;
    }
  },
  mounted () {
  }
}

</script>

<style lang="scss" scoped>
  .echarts {
    width: 400px;
    height: 400px;
  }
</style>